.check {
    background: #180047;
    color: white;
    padding-bottom: 80px;
}

.check__container {
    display: flex;
    justify-content: space-between;
}

.check__title {
    margin-bottom: 100px;
}

.check__right {
    margin-top: 40px;
}