body {
    font-family: 'TT Norms';
    --color1: #180047;
    --color2: #ff0000;
    --color3: #0b011d;
    color: var(--color1);
}

body.change {
    --color1: #1456c9;
    --color2: #47a80d;
}

.page__container {
    max-width: 1140px;
    margin: 0 auto;
}

.page__left {
    max-width: 50%;
    margin-right: 5%;
}

.page__right {
    max-width: 45%;
}

.section {
    padding: 50px 0;
}

.title {
    font-weight: 700;
    font-size: 54px;
    line-height: 130%;
    margin-bottom: 40px;
}

.red {
    color: var(--color2);
}

.scale {
    transform: scale(1);
    transition: transform 0.2s ease;
}

.scale:hover {
    transform: scale(1.05);
}

.btn {
    width: 200px;
    height: 50px;
    background: white;
    border: 1px solid var(--color1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    color: var(--color3);
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.btn:hover {
    background-color: var(--color3);
    color: white;
}

.btn_red {
    background: var(--color2);
    border-color: var(--color2);
    font-weight: 700;
    color: white;
}

.btn_red:hover {
    background-color: white;
    color: var(--color2);
}

.phone {
    font-weight: 500;
    font-size: 18px;
}

.phone:hover {
    color: var(--color2);
}

.logo img {
    width: 100%;
}

.logo {
    max-width: 120px;
}

.content {
    font-size: 24px;
    line-height: 150%;
}

.content p {
    margin-bottom: 40px;
}

* {
    scroll-behavior: smooth;
}